:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  height: 100vh; /* use 100% of the height of the viewport */
  display: grid;
  place-items: center;
  overflow: hidden;
  position: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  /* margin-top: 10px; */
  font-size: 30px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  border: none;
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
